<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>Customers</h1>

<%= form_with(url: customers_path, method: :get, local: true) do |form| %>
  <div style="margin-bottom: 20px;">
    <%= form.label :cpf_search, "Buscar por CPF:" %>
    <%= form.text_field :cpf_search, value: params[:cpf_search], placeholder: "Digite o CPF" %>
    <%= form.submit "Buscar", name: nil %>
  </div>
<% end %>
<div id="customers">
  <% @customers.each do |customer| %>
    <%# INÍCIO - Exibição Simplificada para a Lista %>
    <div style="margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px;"> 
      <p>
        <strong>Name:</strong>
        <%= customer.name %>
      </p>
      <p>
        <strong>Plano:</strong>
        <%= customer.plano.try(:nome) %> 
      </p>
      <p>
        <%= link_to "Show this customer", customer %> 
      </p>
    </div>
    <%# FIM - Exibição Simplificada %>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>